<main class="w-full h-[80vh] flex justify-center items-center">
    <div class="text-center">
        <h1 class="font-[700] text-[#412B5F] text-[80px]">404</h1>
        <h6 class="font-[400] text-[#412B5F] text-2xl">Car Not Found</h6>
        <a href="/" class="back-link font-[400] text-[#412B5F] text-sm underline">Back to Home Page</a>
    </div>
</main>